.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.eventsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2rem;
    margin-top: 1rem;
}

.eventCard {
    display: flex;
    flex-direction: row;
    background-color: #1a1a1a;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.eventCard:hover {
    transform: translateY(-5px);
}

.imageContainer {
    flex: 1;
    overflow: hidden;
}

.eventImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.eventDetails {
    flex: 2;
    padding: 1.5rem;
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Pushes button to the bottom */
}

.eventDetails h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.eventDetails p {
    margin: 0.5rem 0;
}

.registerButton {
    background-color: #f4a261;
    color: white;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
    text-align: center;
    display: inline-block;
    width: fit-content;
}

.registerButton:hover {
    background-color: #e76f51;
}