@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;600&display=swap');


body {
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: #111;
    /* Matte black */
    margin: 0;
    padding: 0;
    overflow: scroll;
}

body::-webkit-scrollbar {
    display: none;
    /* Hides the scrollbar */
}

h1,
h2,
h3 {
    font-family: 'Merriweather', serif;
}

.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    /* Can be a gradient too */
    z-index: 50;
}